.anim-typewriter {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(60, end);
}

span {
  animation: blink 1s infinite;
  color: #000000;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
