
body {
  background-color: blue;
}

h1 {
  font-size: 36px;
  position: relative;
  text-align: center;
}

.navigation {
  background-color: red;
}

.aboutme {
  background-color: orange;
}

.projects {
  background-color: yellow;
}

footer {
  background-color: green;
}
