
body {
  background-color: black;

}

h1 {
  background-color: white;
  font-family: 'Pacifico', cursive;
  font-size: 133px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  /*padding-bottom: -20px;*/

}

p {
  font-family: 'Taviraj', serif;

}

.navigation {
  background-color: red;
}

.aboutme {
  background-color: white;
}


.projects {
  background-color: yellow;
}

footer {
  background-color: green;
}
