body {
  background-color: black;

}

h1 {
  background-color: white;
  font-family: 'Pacifico', cursive;
  font-size: 123px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  /*padding-bottom: -20px;*/

}

p {
  font-family: 'Neuton', serif;
  font-size: 25px;
}

.aboutme-skills {
  font-family: 'Amatic SC', cursive;
  /*font-family: 'Comfortaa', cursive;*/
  /*font-family: 'Dancing Script', cursive;*/
font-size: 40px;
margin: 0 auto;


}

.contact {
  color: white;
}

.wrapper {
  text-align: center;
  width: 800px;
  margin: 0 auto;

}

.img-circle {
    border-radius: 50%;
    border-style: outset;
    border-color: black;
    height: 155px;
    width: 155px;
}

.navigation {
  background-color: red;
}

.aboutme {
  background-color: white;
}


h2 {
  background-color: white;
  font-family: 'Pacifico', cursive;  text-align: center;
  font-size: 70px;
  width: 800px;
  margin: 0 auto;
}

ul {
  text-align: left;
  background-color: white;
}

li {
  background-color: white;
  text-align: left;
  width: 700px;


}

.project {
  font-size: 20px;
  background-color: white;
  width: 700px;
}



footer {
  background-color: black;
  color: white;
}
